@mixin pie($radius) {
  $clip: $radius/2;
  height: $radius;
  width: $radius;
  position: relative;
  .pie {
    position: absolute;
    width: $radius;
    height: $radius;
    -moz-border-radius: $clip;
    -webkit-border-radius: $clip;
    -o-border-radius: $clip;
    border-radius: $clip;
    clip: rect(0px, $clip, $radius, 0px);
    &.color1 {
      background-color: #d64231;
    }
    &.color2 {
      background-color: #4284fc;
    }
    &.color3 {
      background-color: #f5c827;
    }
    &.color4 {
      background-color: #2ba553;
    }
  }
  .pie-number {
    height: $radius;
    width: $radius;
    position: absolute; 
    text-align: center;
    top: 50%;
    margin-top: -$clip/2;
    color: #ffffff;
    font-size: $clip;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.75);
  }
  .hold {
    position: absolute;
    width: $radius;
    height: $radius;
    -moz-border-radius: $clip;
    -webkit-border-radius: $clip;
    -o-border-radius: $clip;
    border-radius: $clip;
    clip: rect(0px, $radius, $radius, $clip);
  }
}
@for $slices from 1 through 1 {
  .pie-container[data-slices="#{$slices}"] {
    $sliceNumber: 1;
    $totalDeg: 0;
    @while $sliceNumber <= 2 {
      $deg: 180/$slices;
      .pie-slice-#{$sliceNumber} {
        -webkit-transform:rotate(#{$totalDeg}deg);
        -moz-transform:rotate(#{$totalDeg}deg);
        -o-transform:rotate(#{$totalDeg}deg);
        -ms-transform:rotate(#{$totalDeg}deg);
        transform:rotate(#{$totalDeg}deg);
        .pie {
          -webkit-transform:rotate(#{$deg}deg);
          -moz-transform:rotate(#{$deg}deg);
          -o-transform:rotate(#{$deg}deg);
          -ms-transform:rotate(#{$totalDeg}deg);
          transform:rotate(#{$deg}deg);
        }
      }
      $sliceNumber: $sliceNumber+1;
      $totalDeg: ($totalDeg+$deg);
    }
  }
}

@for $slices from 2 through 10 {
  .pie-container[data-slices="#{$slices}"] {
    $sliceNumber: 1;
    $totalDeg: 0;
    @while $sliceNumber <= $slices {
      $deg: 360/$slices;
      .pie-slice-#{$sliceNumber} {
        -webkit-transform:rotate(#{$totalDeg}deg);
        -moz-transform:rotate(#{$totalDeg}deg);
        -o-transform:rotate(#{$totalDeg}deg);
        -ms-transform:rotate(#{$totalDeg}deg);
        transform:rotate(#{$totalDeg}deg);
        .pie {
          -webkit-transform:rotate(#{$deg}deg);
          -moz-transform:rotate(#{$deg}deg);
          -o-transform:rotate(#{$deg}deg);
          -ms-transform:rotate(#{$deg}deg);
          transform:rotate(#{$deg}deg);
        }
      }
      $sliceNumber: $sliceNumber+1;
      $totalDeg: ($totalDeg+$deg);
    }
  }
}


#pie1 {
  @include pie(100px);
}

#pie2 {
  @include pie(50px);
}